.svgIcon:hover {
    fill: #c32285;
}
.home{
    margin-bottom: 5%;
}
.sec{
    padding: 15rem 0;
}
.wrap{
    margin: 30%;
}
.sec{
    padding: 2rem 0;
    margin-top: 20%;
    margin-bottom: 20%;
}
.about{
    padding: 2rem 0;
    margin-top: 20%;
    margin-bottom: 20%;
}
.svg{
    margin-bottom: 10%;
    margin-top: 20%;
}
#body{
    margin-top: -40%;
}
.projListDesc{
    margin-bottom: 20px;
}
