@use "../../styles/mixins";

.themeChanger {
  @include mixins.flex(center, center);
  background-color: var(--transparent);
  border: none;
  width: var(--value-32-px);
  height: var(--value-32-px);
  cursor: pointer;

  &__icon {
    stroke: var(--accents-1);
  }
}
