@use "../../styles/mixins";

.skill {
  @include mixins.flex(center, center);
  gap: var(--value-8-px);
  background-color: var(--hsla);
  width: max-content;
  padding: 0 var(--value-16-px);
  border-radius: var(--value-4-px);
  min-height: var(--value-32-px);  

  &__text {
    color: var(--accents-2);
    @include mixins.font(16px, 400, 100%);
    letter-spacing: 0.4px;
  }

  & svg {
    color: var(--accents-2);
  }
}
