@use "../../styles/mixins";

.badge {
  color: var(--accents-2);
  @include mixins.font(14px, 400, 100%);
  background-color: var(--hsla);
  padding: var(--value-4-px) var(--value-8-px);
  border-radius: var(--value-24-px);
  transition: color var(--transition);

  &:hover {
    color: var(--accents-1);
  }
}
