@use "../../styles/mixins";

.mobileMenu {
  @include mixins.flex(center, center);
  width: var(--value-100-percent);
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  padding: var(--value-16-px);
  background: var(--modal-bg);
  backdrop-filter: var(--blur);

  &__nav {
    width: var(--value-100-percent);
    display: grid;
    gap: var(--value-32-px);
  }

  &__list {
    @include mixins.font(16px, 400, 100%);
    display: grid;
    gap: var(--value-8-px);
    color: var(--accents-1);
  }

  &__buttons {
    display: grid;
    gap: var(--value-16-px);
  }

  &_active {
    @include mixins.flex(center, center);
    transform: scale(1);
    overflow: scroll;
    opacity: 1;
    z-index: 10;
  }

  @media screen and (min-width: 768px) {
    display: none;

    &_active {
      display: none;
    }
  }

  @media (orientation: landscape) {
    &__nav {
      grid-template-columns: repeat(2, 1fr);
    }

    &__buttons {
      align-content: end;
    }
  }
}
