@use "../../styles/mixins";

.notFound {
  flex-direction: column;
  gap: var(--value-16-px);
  height: var(--value-100-percent);
  @include mixins.flex(center, flex-end);

  &__code {
    @include mixins.font(24px, 400, 100%);
    color: var(--accents-1);
  }

  &__line {
    background-color: var(--accents-1);
    height: var(--border-height);
    width: var(--value-64-px);
  }

  &__message {
    @include mixins.font(16px, 400, 100%);
    color: var(--accents-1);
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;

    &__line {
      background-color: var(--accents-1);
      height: var(--value-64-px);
      width: var(--border-height);
    }
  }
}
