@use "../../styles/mixins";

.notFound {
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 162px - 128px);
  @include mixins.flex(center, flex-end);

  &__code {
    @include mixins.font(24px, 400, 100%);
    color: var(--accents-1);
  }

  &__line {
    background-color: var(--accents-1);
    height: 2px;
    width: 62px;
  }

  &__message {
    @include mixins.font(16px, 400, 100%);
    color: var(--accents-1);
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;

    &__line {
      background-color: var(--accents-1);
      height: 62px;
      width: 2px;
    }
  }
}
