@use "../../styles/mixins";

.hamburger {
  @include mixins.flex(center, flex-start);
  flex-direction: column;
  gap: var(--value-8-px);
  border: none;
  width: var(--value-32-px);
  height: var(--value-32-px);
  background-color: var(--transparent);
  cursor: pointer;
  position: relative;
  z-index: 15;

  &__line {
    height: var(--border-height);
    width: 100%;
    transition: all var(--transition);
    background-color: var(--accents-1);

    &_top {
      width: 100%;
    }

    &_bottom {
      width: 50%;
    }
  }

  &:hover > .hamburger__line {
    width: 100%;
  }

  &_active {
    width: var(--value-32-px);
    height: var(--value-32-px);
    position: relative;

    & > .hamburger__line {
      position: absolute;

      &_top {
        rotate: 0 0 1 45deg;
        z-index: 15;
      }

      &_bottom {
        rotate: 0 0 1 -45deg;
        z-index: 15;
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
