:root {
  --hsla: hsla(0, 0%, 100%, 0.08);
  --main-color: #101010;
  --modal-bg: rgba(0, 0, 0, 0.2);
  --accents-1: #ffffff;
  --accents-2: #999999;
  --transition: 0.2s linear;
  --transparent: transparent;
  --blur: blur(16px);
  --outline-color: #fff500;
  --border-height: 1px;
  --value-4-px: 4px;
  --value-8-px: 8px;
  --value-16-px: 16px;
  --value-24-px: 24px;
  --value-32-px: 32px;
  --value-64-px: 64px;
  --value-100-percent: 100%;
  --max-width-layout: 1168px;
}

[data-theme="light"] {
  --hsla: hsla(0, 0%, 0%, 0.06);
  --main-color: #ffffff;
  --modal-bg: rgba(255, 255, 255, 0.2);
  --accents-1: #101010;
  --accents-2: #555555;
  --outline-color: #eb367f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all var(--transition);

  &:focus-visible {
    outline: var(--border-height) solid;
    outline-color: var(--outline-color);
  }
}

html {
  background-color: var(--main-color);
  text-rendering: optimizeLegibility;
}

.locked {
  overflow: hidden;

  @media screen and (min-width: 768px) {
    overflow: auto;
  }
}
