@use "../../styles/mixins";

.projects {
  display: grid;
  gap: var(--value-32-px);

  &__list {
    gap: var(--value-16-px);
    align-items: stretch;
    display: grid;
  }

  @media screen and (min-width: 768px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--value-32-px);
    }
  }

  @media screen and (min-width: 1024px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
