.layout {
  width: calc(var(--value-100-percent) - var(--value-32-px));
  max-width: var(--max-width-layout);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--value-64-px);

  &__main {
    flex: 1 0 auto;
    display: grid;
    gap: var(--value-64-px);
    align-items: baseline;
  }

  @media screen and (min-width: 768px) {
    width: calc(var(--value-100-percent) - var(--value-64-px));
  }

  @media screen and (min-width: 1280px) {
    width: calc(var(--value-100-percent));
  }
}
