@use "../../styles/mixins";

.project {
  flex-direction: column;
  background-color: var(--hsla);
  width: var(--value-100-percent);
  @include mixins.flex(space-between, flex-start);
  gap: var(--value-16-px);
  padding: var(--value-16-px);
  border-radius: var(--value-4-px);

  &__title {
    @include mixins.font(16px, 400, 130%);
    color: var(--accents-2);
    hyphens: auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--value-8-px);
  }

  &__listItem {
    @include mixins.flex(center, center);

    & > svg {
      width: var(--value-24-px);
      height: var(--value-24-px);
      fill: var(--accents-2);
    }
  }
}
