@use "../../styles/mixins";

.experience {
  display: grid;
  gap: var(--value-32-px);
}

.tabs {
  display: grid;
  gap: var(--value-16-px);

  &__head {
    display: flex;
    color: var(--accents-2);
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__body {
    color: var(--accents-2);
    max-width: 568px;
  }

  &__list {
    display: flex;
    border: var(--border-height) solid var(--transparent);
  }

  &__title {
    @include mixins.flex(center, center);
    user-select: none;
    cursor: pointer;
    padding: 0 var(--value-16-px);
    background-color: var(--hsla);
    white-space: nowrap;
    transition: color var(--transition);
    min-height: var(--value-32-px);

    &:first-child {
      border-top-left-radius: var(--value-4-px);
      border-bottom-left-radius: var(--value-4-px);
    }

    &:last-child {
      border-top-right-radius: var(--value-4-px);
      border-bottom-right-radius: var(--value-4-px);
    }

    &:hover {
      color: var(--accents-1);
    }
  }

  &__panel {
    display: grid;
    gap: var(--value-16-px);
  }

  &__panelTitle {
    @include mixins.font(16px, 400, 150%);
    @include mixins.flex(flex-start, center);
    flex-wrap: wrap;
    gap: var(--value-8-px);
    max-width: max-content;
  }

  &__panelList {
    display: grid;
    gap: var(--value-8-px);
    list-style-type: disc;
    list-style-position: inside;
  }

  &__panelListItem {
    @include mixins.font(16px, 400, 130%);
  }

  [aria-selected="true"] {
    color: var(--accents-1);
  }
}
