@use "../../styles/mixins";

.navItem {
  &__link {
    @include mixins.flex(center, center);
    width: var(--value-100-percent);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: var(--accents-2);
    transition: color var(--transition);
    pointer-events: auto;
    padding: 0 var(--value-16-px);
    border-radius: var(--value-4-px);
    min-height: var(--value-32-px);

    &_active {
      color: var(--accents-1);
      background-color: var(--hsla);
    }

    &:hover {
      color: var(--accents-1);
    }
  }
}
